<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios Registrados</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <ul>
                <li><a th:href="@{/ventas}"> <img src="img/carrito-de-compras.png" alt="Ventas Icono" class="icon"> Ventas</a></li>
                <li><a href="#"> <img src="img/flechas-repetir.png"alt="Devoluciones Icono" class="icon"> Devoluciones</a></li>
                <li><a th:href="@{/usuario}" > <img src="img/usuarios.png"alt="Usuarios Icono" class="icon">Usuarios</a></li>
                <li><a href="productos.html"> <img src="img/cubo.png"alt="Productos Icono" class="icon">Productos</a></li>
                <li><a href="#"> <img src="img/bolsa-de-la-compra.png"alt="Empleados Icono" class="icon">Empleados</a></li>
                <li><a href="#"> <img src="img/aplicaciones.png"alt="Tableros Icono" class="icon">Tableros</a></li>
                <li><a href="#"> <img src="img/llave-inglesa-alternativa.png"alt="Servicios Icono" class="icon">Servicios</a></li>
            </ul>
            <button class="logout"> <img src="img/salir-alt.png" alt="cerrar Icono" class="icon"> Cerrar sesión</button>
        </aside>
        <main class="content">
            <h1>dashboradasdasd</h1>
        </main>
    </div>
</body>
</html>