<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<main class="content">
    <div class="top-bar">
        <img src="../static/img/logo.png" alt="logo" class="logo">
    </div>
    <h1>Usuarios registrados</h1>
    <table id="tabla-usuarios">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo electrónico</th>
            <th>Fecha de registro</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        </tr>

        </tbody>
    </table>
    <script src="../static/js/usuario.js"> </script>
</main>


</body>
</html>