<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas Registrados</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <ul>
                <li><a href="#" > <img src="img/carrito-de-compras.png" alt="Ventas Icono" class="icon"> Ventas</a></li>
                <li><a href="#"> <img src="img/flechas-repetir.png"alt="Devoluciones Icono" class="icon"> Devoluciones</a></li>
                <li><a th:href="@{/usuario}" > <img src="img/usuarios.png"alt="Usuarios Icono" class="icon">Usuarios</a></li>
                <li><a href="#"> <img src="img/cubo.png"alt="Productos Icono" class="icon">Productos</a></li>
                <li><a href="#"> <img src="img/bolsa-de-la-compra.png"alt="Empleados Icono" class="icon">Empleados</a></li>
                <li><a href="#"> <img src="img/aplicaciones.png"alt="Tableros Icono" class="icon">Tableros</a></li>
                <li><a href="#"> <img src="img/llave-inglesa-alternativa.png"alt="Servicios Icono" class="icon">Servicios</a></li>
            </ul>
            <button class="logout"> <img src="img/salir-alt.png" alt="cerrar Icono" class="icon"> Cerrar sesión</button>
        </aside>
    
        <main class="content">
            <div class="top-bar">
                <img src="img/logo.png" alt="logo" class="logo">
            </div>
            <h1>Ventas registrados</h1>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Correo electrónico</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td >1</td>
                        <td >John Doe</td>
                        <td >ROL</td>
                        <div class="button-container">
                            <button class="btn editar">
                                <img src="../static/img/editar.png" alt="Editar Icono">
                                Editar
                            </button>
                            <button class="btn eliminar">
                                <img src="../static/img/basura.png" alt="Eliminar Icono">
                                Eliminar
                            </button>
                        </div>
                    </tr>

                </tbody>
            </table>
        </main>  
    </div>
</body>
</html>